flows.json
[{"id":"8f65dab0.1c15c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"23f5a1c3.ff1b2e","type":"arduino in","z":"8f65dab0.1c15c8","name":"Temperatura","pin":"0","state":"ANALOG","arduino":"b8684ba6.b17af8","x":70,"y":80,"wires":[["9c3087b6.1be3e8","6b87a22a.d8954c","540dce0a.50163","e600e472.6169b8"]]},{"id":"d430307.ff726d","type":"delay","z":"8f65dab0.1c15c8","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":80,"wires":[["65cc6075.9a37d","d9a06955.b30268"]]},{"id":"65cc6075.9a37d","type":"debug","z":"8f65dab0.1c15c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":60,"wires":[]},{"id":"9c3087b6.1be3e8","type":"arduino out","z":"8f65dab0.1c15c8","name":"LED VERMELHO","pin":"13","state":"OUTPUT","arduino":"b8684ba6.b17af8","x":370,"y":180,"wires":[]},{"id":"540dce0a.50163","type":"arduino out","z":"8f65dab0.1c15c8","name":"LED AZUL","pin":"11","state":"OUTPUT","arduino":"b8684ba6.b17af8","x":350,"y":320,"wires":[]},{"id":"e237a2d6.412a","type":"mosca in","z":"8f65dab0.1c15c8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"MQTT Broker","username":"","password":"","dburl":"","x":590,"y":260,"wires":[["7725136d.93042c"]]},{"id":"762750ba.464a1","type":"mqtt in","z":"8f65dab0.1c15c8","name":"","topic":"temperatura","qos":"0","datatype":"auto","broker":"4572e3ce.92553c","x":610,"y":360,"wires":[["b03aa45c.ceaa88","db19653c.8d2208"]]},{"id":"7725136d.93042c","type":"debug","z":"8f65dab0.1c15c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":240,"wires":[]},{"id":"d9a06955.b30268","type":"mqtt out","z":"8f65dab0.1c15c8","name":"","topic":"temperatura","qos":"","retain":"","broker":"4572e3ce.92553c","x":710,"y":120,"wires":[]},{"id":"b03aa45c.ceaa88","type":"ui_gauge","z":"8f65dab0.1c15c8","name":"","group":"e4df89ae.553378","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"C","format":"{{msg.payload| number:1}}","min":0,"max":"22","colors":["#00b500","#0080ff","#ca3838"],"seg1":"18","seg2":"22","x":810,"y":380,"wires":[]},{"id":"6b87a22a.d8954c","type":"arduino out","z":"8f65dab0.1c15c8","name":"LED VERDE","pin":"12","state":"OUTPUT","arduino":"b8684ba6.b17af8","x":350,"y":240,"wires":[]},{"id":"db19653c.8d2208","type":"debug","z":"8f65dab0.1c15c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":460,"wires":[]},{"id":"e600e472.6169b8","type":"function","z":"8f65dab0.1c15c8","name":"","func":"temperatura = (msg.payload * 0.0048828125 * 100); \n\nmsg.payload = temperatura\n\nreturn msg","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["d430307.ff726d"]]},{"id":"b8684ba6.b17af8","type":"arduino-board","z":"","device":"COM3"},{"id":"4572e3ce.92553c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4df89ae.553378","type":"ui_group","z":"","name":"Default","tab":"a705b9e7.cd3008","order":1,"disp":true,"width":"6","collapse":false},{"id":"a705b9e7.cd3008","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
